In [1]:
import pandas as pd

In [2]:
# FAST
fast = pd.read_csv(r'M:\Data\OnBoard\Data and Reports\Solano County\As CSV\FAST_removeTypos_add_route_time_NO POUND OR SINGLE QUOTE.csv',
                   usecols = ['Survey_route_fast'])

fast = fast[['Survey_route_fast']].drop_duplicates()
fast['survey'] = 'FAST'
fast['survey_year'] = 2017
fast.rename(columns = {'Survey_route_fast': 'survey_name'}, inplace=True)
fast['canonical_operator'] = 'FAIRFIELD-SUISUN'

In [3]:
# Golden Gate Transit
ggtransit = pd.read_csv(r'M:\Data\OnBoard\Data and Reports\Golden Gate Transit\2018\As CSV\20180907_OD_GoldenGate_allDays_addCols_NO POUND OR SINGLE QUOTE.csv',
                        usecols = ['final_route'])

ggtransit.rename(columns = {'final_route': 'survey_name'}, inplace=True)
ggtransit = ggtransit[['survey_name']].drop_duplicates()
ggtransit['survey'] = 'Golden Gate Transit'
ggtransit['survey_year'] = 2018
ggtransit['canonical_operator'] = 'GOLDEN GATE TRANSIT'

In [4]:
# VINE
vine = pd.read_csv(r'M:\Data\OnBoard\Data and Reports\Napa Vine\2019\Napa Vine_FINAL Data_addCols_NO POUND OR SINGLE QUOTE.csv',
                   usecols = ['route_dir'])

vine.rename(columns = {'route_dir': 'survey_name'}, inplace=True)
vine = vine[['survey_name']].drop_duplicates()
vine['survey'] = 'Napa Vine'
vine['survey_year'] = 2019
vine['canonical_operator'] = 'NAPA VINE'

In [5]:
# WestCAT
westcat = pd.read_csv(r'M:\Data\OnBoard\Data and Reports\WestCAT\As CSV\WestCAT_addCols_recodeRoute_NO POUND OR SINGLE QUOTE.csv',
                      usecols = ['Survey_route_recode'])

westcat.rename(columns = {'Survey_route_recode': 'survey_name'}, inplace=True)
westcat = westcat[['survey_name']].drop_duplicates()
westcat['survey'] = 'WestCAT'
westcat['survey_year'] = 2017
westcat['canonical_operator'] = 'WESTCAT'

In [6]:
df = pd.DataFrame(columns = ['survey', 'survey_year', 'survey_name', 'canonical_name', 'canonical_operator', 'technology'])

for i in [fast, ggtransit, vine, westcat]:
    df = pd.concat([df, i], axis=0)

df['survey_name'] = df['survey_name'].apply(lambda x: str(x))

In [7]:
df

,survey,survey_year,survey_name,canonical_name,canonical_operator,technology
0,FAST,2017,1,NaN,FAIRFIELD-SUISUN,NaN
28,FAST,2017,2,NaN,FAIRFIELD-SUISUN,NaN
52,FAST,2017,3,NaN,FAIRFIELD-SUISUN,NaN
77,FAST,2017,4,NaN,FAIRFIELD-SUISUN,NaN
83,FAST,2017,5,NaN,FAIRFIELD-SUISUN,NaN
...,...,...,...,...,...,...
127,WestCAT,2017,16,NaN,WESTCAT,NaN
156,WestCAT,2017,30Z,NaN,WESTCAT,NaN
161,WestCAT,2017,10,NaN,WESTCAT,NaN
229,WestCAT,2017,JX,NaN,WESTCAT,NaN
259,WestCAT,2017,17,NaN,WESTCAT,NaN

In [8]:
df.to_csv('survey_routes_raw.csv', index=False)